@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import'custom';

html{
    position: relative;
    ;
}
main{
    margin-bottom: 250
}

footer.footer{
    padding: 15%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{ 
    font-size: 18px}

.hero-scene {
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url("/img/Accueil.jpg");
        background-size: cover;
        filter: brightness(0.5);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.container-animaux {
    width: 100%;
    margin: auto;
    background: url(/img/BC\ Animaux.png);
    background-size: cover;
    filter: brightness(0.8);
}
.animaux{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    img{
        width: 200px; 
        height: auto; 
        border-radius: 8px; /* Arrondir les coins des images */
    }
    p{
        text-align: center;
        color: #FFFFFF;
        font-size: 18px;
        margin-top: 10px;
    }
}

.Services{
    display: flex;
    justify-content: center;
    margin: 20px;
    img{
        width: 50%; 
        height: auto; 
        border-radius: 8px; /* Arrondir les coins des images */
    }
    p {
        text-align:center;
        margin-top: 10px;
        color: #020202; 
        font-size: 1em; 
    }
}

.avis-container {
    overflow: hidden; /* Pour cacher le débordement lors du défilement */
    height: 100px; /* Hauteur de la section d'avis */
    position: relative; /* Positionner le conteneur */
    margin: 20px; /* Marge autour de la section */
}

.avis {
    display: flex; /* Flexbox pour aligner les avis en ligne */
    animation: defilement 10s linear infinite; /* Animation de défilement */
}

.avis-item {
    min-width: 100%; /* Chaque avis occupe 100% de la largeur */
    padding: 10px; /* Espacement autour de chaque avis */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    text-align: center; /* Centrer le texte */
}

@keyframes defilement {
    0% {
        transform: translateY(0); /* Début de la position */
    }
    100% {
        transform: translateY(-100%); /* Finit à la position supérieure */
    }
}
.formulaire{
    background-color: #d1d2bf;
    padding: auto;
    height: auto;
}

.container-contact{
    background-color: white; /* Couleur de fond du formulaire */
    padding: 20px;
    border-radius: 8px; /* Arrondit les bords du conteneur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 400px; /* Largeur fixe du formulaire */
    margin:auto;
label {
    align-items: center;
    display: block; /* Fait que les labels s'affichent en bloc */
    margin-bottom: 5px; /* Espace entre le label et le champ */
    color: #555; /* Couleur des labels */
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Prend toute la largeur */
    padding: 10px; /* Espace intérieur */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 4px; 
}

}

.container-singin{
    background-color: white; /* Couleur de fond du formulaire */
    padding: 20px;
    border-radius: 8px; /* Arrondit les bords du conteneur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 400px; /* Largeur fixe du formulaire */
    margin:auto;
label {
    align-items: center;
    display: block; /* Fait que les labels s'affichent en bloc */
    margin-bottom: 5px; /* Espace entre le label et le champ */
    color: #555; /* Couleur des labels */
}

}